<link rel="stylesheet" href="./css/contact.css">
<center>
  <h1>Want to Chat?!<br />Leave Your Contact Info Here!</h1>
</center>
<div class="container" id="messageForm">
  <form>
  <div class="form-group col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <label for="visitorEmail">Your Name</label>
    <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="newMessage.name" >
  </div>
  <div class="form-group col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <label for="email">Your Email</label>
    <input type="text" class="form-control" id="email" placeholder="Your Email Here" ng-model="newMessage.email">
  </div><br />
  <div class="form-group col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <label for="comment">Message:</label>
    <textarea class="form-control" rows="5" ng-model="newMessage.message" id="comment"></textarea>
    <button type="submit" class="btn btn-primary center-block" id="postMessageButt" ng-click="createMessage()">Send Message</button>
  </div>
</form>
</div>
<script type="text/javascript">
$("form").submit(function(){
  setTimeout(function(){
    alert("Thank You! Your message has been sent!");
  }, 500);
});
</script>
