<link rel="stylesheet" href="./css/expozure.css">
<div class ="container expozureContainer col-md-6-col-lg-6">
  <div class="jumbotron">
    <center>
      <h1 id="gameTitle">Expozure</h1><br />
    </center>
    <p>
      An iOS based social media app based on my version of Instagram. I used a Firebase back-end that stores Users and Posts. I got more familiar with Cocoapods, bringing in FacebookSDK for Facebook Auth and Firebase. Used Keychain to keep authorized Users logged in when they close the app. Users have the ability to upload pictures from their device along with captions, then other users can then "like" posts by touching the heart icon on the post. Have a chat feature in the works right now that will be applied within the coming weeks.
    </p><br />
    <p>
      <b>Technologies:</b> Xcode 9(Beta), iOS 11(Beta), Swift 4(Beta), Firebase, Cocoapods, Facebook Auth, Keychain
    </p><br />
  </div>

  <div class="container col-xs-12 col-md-12 col-lg-12" id="expozurePicsContainer">

    <img class="col-xs-6 col-sm-6 col-md-6 col-lg-6" src="./css/pics_videos/login.png" id="expozure1"/>

    <img class="col-xs-6 col-sm-6 col-md-6 col-lg-6" src="./css/pics_videos/homepage.png" id="expozure2"/>


  </div>

  <a href="http://localhost:8000">

    <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5" src="./css/pics_videos/backArrow.png" id="backArrow"/>

  </a>

</div>
