<link rel="stylesheet" href="./css/flappy.css">
<div class ="container flappyContainer col-md-6-col-lg-6">
  <div class="jumbotron">
    <center>
      <h1 id="gameTitle">Flappy</h1><br />
    </center>
    <p>
      An iOS based game inspired by the notorious Flappy Bird game. It has the same concept of traveling through the pipes to acquire a highscore without touching the ground or the pipes. Users also have the ability to switch the colors of the bird between Red, Green, and Blue. This is my first game developed in iOS.
    </p><br />
    <p>
      <b>Technologies:</b> Xcode 8, SpriteKit, iOS 10, Swift 3
    </p><br />
  </div>

  <div class="container col-xs-12 col-md-12 col-lg-12" id="flappyPicContainer">
    <div class="container col-xs-12 col-md-4 col-lg-3 col-xs-offset-1" id="flappyPicOne">

    </div>

    <div class="container col-xs-12 col-md-4 col-lg-3 col-xs-offset-1" id="flappyPicTwo">

    </div>

    <div class="container col-xs-12 col-md-4 col-lg-3 col-xs-offset-1" id="flappyPicThree">

    </div>

  </div>
</div>
