<link rel="stylesheet" href="./css/game2fame.css">

<div class="container game2fameContainer col-md-6-col-lg-6">

  <div class="jumbotron">

    <center>

      <h1>Game2Fame</h1><br />

    </center>

    <p>
      Web app that allows users to challenge each other in video games, setting up game rooms where players can wager bitcoins as bets. Each player has their own customizable profile and can interact through direct messages or through a chatroom.
    </p><br />

    <p>
      <b>Technologies:</b> JavaScript, MongoDB, Angular, Node.js, Express.js, Socket.io, Block.io API, Twitter Bootstrap, Passport, HTML5, CSS3
    </p>

  </div>

</div>

<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="game2fameCollage">

  <video muted poster="" width="100%" autoplay="true" id="video" loop>

    <source src="./css/pics_videos/GameVideo.mp4" type="video/mp4"/>

  </video>

  <a href="http://chadfegley.com">

    <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5" src="./css/pics_videos/backArrow.png" id="backArrow"/>

  </a>

</div>
