<link rel="stylesheet" href="./css/highflyers.css">
<div class="container highFlyersContainer col-md-6-col-lg-6">
  <div class="jumbotron">
    <center>
      <h1>The High Flyers .Club</h1><br />
    </center>
    <p>
      <b>Tech Crunch Disrupt SF Hackathon 2016 Winner!</b> A web based app that brings in-flight communication to the next level. You get instant access to flight data through Panasonic Flight Data API, and an IBM Watson Chat Bot that acts as your personal tour guide to accompany you on your flight. Personalized chat room so you can talk to fellow passengers on the plane so you never have to feel lonely on a flight again.
    </p><br />
    <p>
      <b>Technologies:</b> JavaScript, MongoDB, Angular, Panasonic Flight API, IBM Watson Conversation, Mapquest API, Express.js, Socket.io, Twitter Bootstrap, HTML5, CSS3
    </p><br />
    <p>
      <b>Articles: </b>
      <a href="https://techcrunch.com/2016/09/11/thehighflyers-helps-you-join-the-mile-high-chat-club/">Tech Crunch Article</a>,
      <a href="http://club.blog/club-domain-com-super-showing-techcrunch-disrupt-sf-2016/">.CLUB Article</a>,
      <a href="http://club.blog/september-remember-not-yet">.CLUB September Issue</a>
    </p>
  </div>
  <div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="highflyersCollage">

  </div>
  <a href="http://localhost:8000">

    <img class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5" src="./css/pics_videos/backArrow.png" id="backArrow"/>
    
  </a>
</div>
