<link rel="stylesheet" href="./css/homie.css">
<div class="container homieContainer col-md-6-col-lg-6">
  <div class="jumbotron">
    <h1>Homie</h1><br />
    <p>
      Web app that allows users to connect to other users similar to Facebook. Created database schema along with intricate controllers and models for fully functional app.
    </p><br />
    <p>
      <b>Technologies:</b> Python, Flask, Apache, MySQL, Facebook API, OAuth, Geo Locator, Twitter Bootstrap, HTML5, CSS3
    </p>
  </div>
</div>
<div class="container col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" id="homieCollage">

</div>
