<link rel="stylesheet" href="./css/index.css">
<div class="container">
  <p id="welcome">Chad Fegley's Portfolio</p>
</div>
<div class="container" id="test">
  <div class="row">
    <div class="container">
      <center><img src="./css/pics_videos/chad.jpg" class="img-circle" id="profilePic"/></center>
    </div>
  </div>
</div>
<div class="container">
  <div class="container"id="socialIcons">
    <center>
    <a href="https://www.facebook.com/chad.fegley.3"><img src="./css/pics_videos/facebook.png" alt="" id="facebook" class="socialMedia" /></a>
    <a href="https://www.linkedin.com/in/chadfegley7"><img src="./css/pics_videos/linkedin.png" alt="" id="linkedin" class="socialMedia" /></a>
    <a href="https://www.github.com/chadfegley7"><img src="./css/pics_videos/github.png" alt="" id="git" class="socialMedia" /></a>
    <a href="https://twitter.com/FegleyChad"><img src="./css/pics_videos/twitter.png" alt="" id="twitter" class="socialMedia" /></a>
    <a href="https://www.flickr.com/photos/134646885@N03/"><img src="./css/pics_videos/flickr.png" alt="" id="flickr" class="socialMedia" /></a>
  </center>
  </div>
</div>
