
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <ul class="navList">
      <li><a ui-sref="index">Chad Fegley</a></li>
      <li><a ui-sref="about">About Me</a></li>
      <li id="dropdown"><a class="dropbtn">Projects</a>
      <div class="dropdown-content">
        <a ui-sref="highflyers">The High Flyers Club</a>
        <a ui-sref="game2fame">Game2Fame</a>
        <a ui-sref="corkboard">Corkboard</a>
        <a ui-sref="shakequake">Shake Quake</a>
        <a ui-sref="reactweather">React Weather</a>
      </div></li>
      <li><a ui-sref="photography">Photography</a></li>
      <li><a ui-sref="contact">Contact</a></li>
    </ul>
</nav>
