<link rel="stylesheet" href="./css/reactweather.css">
<div class="container reactWeatherContainer col-md-6-col-lg-6">
  <div class="jumbotron">
    <center>
      <h1>React Weather</h1><br />
    </center>
    <p>
      My first web app built entirely with React. The user can enter in a city name and receive real-time temperatures from an API call to Open Weather Map.
    </p><br />
    <p>
      <b>Technologies: </b>React, Webpack, Node.js, Express.js, Foundation, HTML5, SCSS, OpenWeatherMap API, Babel, JSX
    </p>
  </div>
</div>
<div class="container col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" id="reactweatherCollage">

</div>
