<link rel="stylesheet" href="./css/secret.css">
<center>
  <h1>Posted Messages</h1>
</center>
<div class="container col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2" ng-repeat="message in messages" id="postedMessages">

  <b>Name: </b><br />{{ message.name }} <br /><br />
  <b>Email: </b><br /><a ng-href="mailto:{{ message.email }}">{{ message.email }}</a><br /><br />
  <b>Message: </b><br />{{ message.message }}<br /><br />
  <b>Posted: </b><br />{{message.created_at | date: "MMM. dd, yyyy 'at' h:mma"}}

</div>
<div class="container" id="space">

</div>
