<link rel="stylesheet" href="./css/shakequake.css">
<div class="container shakeQuakeContainer col-md-6-col-lg-6">
  <div class="jumbotron" id="shakequakeJumbo">
    <center>
      <h1>Shake Quake</h1><br />
    </center>
    <p>
      Web app that allows users to visually learn in depth about earthquakes. They have access to all earthquake information from 1970 to present day including magnitude, location, date, and time. Created in 24 hours for NGA Expedition Hackathon.
    </p><br />
    <p>
      <b>Technologies:</b>JavaScript, Angular, Node.js, Express.js, Twitter Bootstrap, HTML5, CSS3, Mapbox, NGA Earthquake API, jQuery, Geo Locator
    </p>
  </div>
</div>
<div class="container col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" id="shakequakeCollage">

</div>
