body{
  background-color: black;
}
#corkboardCollage{
  height: 500px;
  background-image: url('./pics_videos/corkboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  border-radius: 20px;
}
.corkboardContainer{
  margin-top: 50px;
}
.jumbotron{
  background-color: black;
  color: white;
}
.jumbotron h1{
  color: orange;
}
b{
  color: orange
}
