body{
  background-color: #1A237E;
}
#corkboardCollage{
  margin-top: 50px;
}
.corkboardContainer{
  margin-top: 50px;
}
.jumbotron{
  background-color: #5C6BC0;
  color: #BBDEFB;
  font-family: 'Exo', sans-serif;
  box-shadow: 10px 10px 5px #BBDEFB;
}
.jumbotron h1{
  color: orange;
}
b{
  color: orange
}
#corkSum p{
  font-size: 24px;
}
#cork{
  border-radius: 30px;
}
#backArrow{
  margin-top: 50px;
}
