body{
  background-color: #1A237E;
}
.expozureContainer{
  margin-top: 50px;
}

.jumbotron{
  background-color: #5C6BC0;
  color: #BBDEFB;
  font-family: 'Exo', sans-serif;
  box-shadow: 10px 10px 5px #BBDEFB;
}

#expozurePicsContainer{
  margin-top: 50px;
}
#expozure1{
  border-radius: 50px;
}
#expozure2{
  border-radius: 50px;
}
b{
  color: orange
}
.jumbotron h1{
  color: orange;
}
#backArrow{
  margin-top: 50px;
}
