body{
  background-color: black;
}

#gameTitle{
  color: orange;
}

.jumbotron{
  background-color: black;
  color: white;
}
b{
  color: orange;
}

#flappyPicContainer{
  margin-bottom: 100px;
}

#flappyPicOne{
  border: 3px solid white;
  height: 500px;
  background-image: url('./pics_videos/FlappyMainMenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}

#flappyPicTwo{
  border: 3px solid white;
  height: 500px;
  background-image: url('./pics_videos/FlappyGameStart.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}

#flappyPicThree{
  border: 3px solid white;
  height: 500px;
  background-image: url('./pics_videos/FlappyMidGame.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}
