body{
  background-color: #1A237E;
}
#highflyersCollage{
  height: 500px;
  background-image: url('./pics_videos/highflyersCollage.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 10px;

}
.highFlyersContainer{
  margin-top: 50px;
}
.jumbotron{
  background-color: #5C6BC0;
  color: #BBDEFB;
  box-shadow: 10px 10px 5px #BBDEFB;
}
.jumbotron p{
  font-family: 'Exo', sans-serif;

}
.jumbotron h1{
  color: orange;
  font-family: 'Exo', sans-serif;

}
.jumbotron a {
  color: #BBDEFB;
}
b{
  color: orange
}
#backArrow{
  margin-bottom: 100px;
}
