.homieContainer{
  margin-top: 50px;
}
.homieContainer h1{
  text-align: center;
}
#homieCollage{
  height: 600px;
  background-image: url('./pics_videos/homieCollage.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
