.w3-navbar { 
    color: #fff; 
}

.w3-navbar.w3-animate-top { 
    color: #444; 
}
.w3-navbar li a:hover {
    background-color: rgba(0,0,0,0.2);
    color: #fff; 
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('./pics_videos/bay.jpg');
    min-height: 100%;
}

.bgimg-2 {
    background-image: url('./pics_videos/YessSunset.jpg');
    min-height: 100%;
}

.bgimg-3 {
    background-image: url('./pics_videos/collage.png');
    min-height: 100%;
}



#testContainer{
    height: 850px;
    display: none;
}

#name{
    
    margin-top: 425px;
    
    text-align: center
}

#name h1{
    font-family: 'Rock Salt', cursive;
    color: black;
    font-size: 40px;
}

#testContainer2{
    margin-bottom: 50px;
    text-align: center;
    display: none;
}

#testContainer2 h2{
    margin-top: 50px;
}

#aboutMeSnip{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#aboutMeHeader{
    text-align: center;
    font-family: 'Bangers', cursive;
}

.quote{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#Portfolio{
    text-align: center;
    margin-top: 175px;
}

#Portfolio span{
    font-family: 'Rock Salt', cursive;
    font-size: 32px;
    color: white;
}


#testContainer3{
    height: 400px;
    display: none;
}





#welcome{
  display: block;
  font-size: 100px;
  color: #BBDEFB;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Exo', sans-serif;
}

#profilePic{
  height: 250px;
  width: 220px;
	margin: 0;
	padding: 0;
  margin-bottom: 50px;
}

#socialIcons{
  margin-top: 100px;
}

.socialMedia{
  height: 75px;
  width: 75px;
  position: relative;
  margin: 0;
  margin-left: 25%;
  border: 2px solid #BBDEFB;
  border-radius: 35px;
}

#git{
  background-color: orange;
  border-radius: 75px;
}

#test {
	position: relative;
	width: 75%;
	background-color: black;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
  border: 2px solid white;
  border-radius: 10px;
	z-index: 1;
}

#introContainer{
  border-top: 5px solid #BBDEFB;
  background-color:#1A237E;
}

#pic{
  margin-top: 50px;
}

#introduce{
  font-size: 60px;
  text-align: center;
  color: #BBDEFB;
  font-family: 'Exo', sans-serif;
  opacity: 0.9;
}

#qualifications{
  /*background-color: purple;*/
  font-family: 'Exo', sans-serif;
  background-color: #5C6BC0;
  border: 2px solid #BBDEFB;
  border-radius: 10px;
  /*background-color: #F5F5F4;*/
  opacity: 0.9;
  padding: 25px;
  box-shadow: 10px 10px 5px #BBDEFB;
}

#qualifications p{
  color: #BBDEFB;
  font-size: 24px;
}

#qualifications b{
  color: orange;
}

#aboutMe{
  background-color: #5C6BC0;
  border: 2px solid #BBDEFB;
  border-radius: 10px;
  font-family: 'Exo', sans-serif;
  opacity: 0.9;
  padding: 25px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px #BBDEFB;
}

#aboutMe p{
  font-size: 27px;
  color: #BBDEFB;
}

#qualifications, #aboutMe{
  margin-top: 50px;
}

#projectsContainer{
/*
  background-image: url("./pics_videos/Hands.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
*/
    display: none;
}

#projects{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: #BBDEFB;
  font-family: 'Rock Salt', cursive;
}

#projectHolder{
  margin-top: 50px;
  /*background-color: #EEEEEE;*/
  margin-bottom: 100px;
  padding: 50px;
  opacity: 0.8;
  text-align: center;
}

#projectHolder p{
    font-size: 20px;
}
.project{
  height: 225px;
  border: 2px solid #0D47A1;
  border-radius: 10px;
  display: block;
  margin: 10px;
  box-shadow: 10px 10px 5px #3F51B5;


  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
  filter: grayscale(100%);
}

.project:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  filter: grayscale(0%);
}

.projectLabel{
  text-align: center;
  margin: 10px;
  font-family: 'Rock Salt', cursive;
  color: black;
}

.projectNameRow{
  color: #FFFFFF;
}

#theHighFlyersProject{
  background-image: url("./pics_videos/highFlyers.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gameToFameProject{
  background-image: url("./pics_videos/game2fameShot.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#corkboardProject{
  background-image: url("./pics_videos/corkboardShot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#shakeQuakeProject{
  background-image: url("./pics_videos/earthquakeShot.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#flappyProject{
  background-image: url("./pics_videos/flappyShot.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#expozureProject{
  background-image: url("./pics_videos/homepage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#photographyContainer{
  background-color: #1A237E;
}

#timelineContainer{
  background-color: #1A237E;
  font-family: 'Exo', sans-serif;
}

#projectHolder em{
    font-family: 'Rock Salt', cursive;
}

#journey{
  margin-top: 100px;
  font-size: 60px;
  color: white;
    font-family: 'Rock Salt', cursive;
}

#timelineContainer{
    display: none;
}

#timelineHolder{
  margin-top: 100px;
  margin-bottom: 100px;
}
#timelineHolder a{
  font-size: 18px;
}

#timelineItem1{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px grey;
}
#timelineItem1 p{
  font-size: 20px;
}

#timelineItem2{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
  color: black;
}
#timelineItem2 p{
  font-size: 20px;
}

#timelineItem3{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px grey;
}
#timelineItem3 p{
  font-size: 20px;
}

#timelineItem4{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
  color: black;
}
#timelineItem4 p{
  font-size: 20px;
}

#timelineItem5{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px grey;
}
#timelineItem5 p{
  font-size: 20px;
}

#timelineItem6{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
  color: black;
}
#timelineItem6 p{
  font-size: 20px;
}

.bnt-more {
  color: #1A237E;
}

#timelineItem7{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px grey;
}
#timelineItem7 p{
  font-size: 20px;
}

#timelineItem8{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 5px grey;
  color: black;
}
#timelineItem8 p{
  font-size: 20px;
}

#timelineItem9{
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: -10px 10px 5px grey;
}
#timelineItem9 p{
  font-size: 20px;
}

#messageForm{
    display: none;
}

#formContainer{
    margin-top: 50px;
}
#formContainer h1{
    font-family: 'Bangers', cursive;
}
label{
    font-family: 'Bangers', cursive;
    font-size: 20px;
}

#highFlyersModal h4, #corkboardModal h4, #shakeQuakeModal h4, #flappyModal h4, #expozureModal h4{
    
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    
}

#modalBody{
    background-color: white;
    opacity: 0.9;
}

#aboutHighFlyers{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#highFlyersPic{
   height: 400px;
   background-image: url('./pics_videos/highflyersCollage.png');
   background-size: cover;
   background-position: center;
}

#gameLogo{
    
    height: 200px;
    
}
#aboutGame2Fame{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#game2FamePic video{
    height: 400px;
}

#aboutCorkboard{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#corkboardPic{
   height: 400px;
   background-image: url('./pics_videos/corkboard.png');
   background-size: cover;
   background-position: center;
   border-radius: 20px;
}

#aboutShakeQuake{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#shakeQuakePic{
   height: 400px;
   background-image: url('./pics_videos/shakequakeCollage.png');
   background-size: cover;
   background-position: center;
    border-radius: 20px;
}

#aboutFlappy{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#flappyPic{
   height: 400px;
   background-image: url('./pics_videos/FlappyMidGame.png');
   background-size: cover;
   background-position: center;
    border-radius: 20px;
}

#aboutExpozure{
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

#expozurePic{
   height: 400px;
   background-image: url('./pics_videos/homepage.png');
   background-size: cover;
   background-position: center;
    border-radius: 20px;
}



#progressbar{
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  background: rgba(159, 159, 159, 0.5);
  border-radius: 10px;
  margin: -20px 0 0 -100px;
  padding: 2px;
}
#loading{
  transition: all 1100ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 8px;
  background: #474747;
  position: absolute;
  margin: 3px;
  display: inline-block;
  animation: load 11s ease infinite;
}
#load{
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
}

@keyframes load{
  0%{
    width: 2%;
  }
  10%{
    width: 10%;
  }
}









