html{
  background-color: black;
}
body{
  background-color: black;
}

#welcome{
  display: block;
  font-size: 85px;
  color: orange;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
#test{
  background-image: url('./pics_videos/collage.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#profilePic{
  margin-top: 75px;
  height: 250px;
  width: 220px;
  margin-bottom: 75px;
  border: 2px solid black;
}
#socialIcons{
  display: inline-block;
  position: relative;
  margin-top: 75px;
}
.socialMedia{
  height: 75px;
  width: 75px;
  position: relative;
  left: 20px;
}
#git{
  background-color: orange;
  border-radius: 75px;
}
