#postedMessages{
  margin-top: 50px;
  color: white;
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
  margin-bottom: 75px;
  padding-bottom: 25px;
  padding-top: 25px;
}
body{
  background-color: black;
}
b{
  color: orange;
}
h1{
  color: orange;
  margin-top: 50px;
}
